<div class="container" fxLayout="column" fxLayoutAlign="start center">
  <mat-list class="user-list">
    <h2 mat-subheader>사용자 목록</h2>
    <mat-list-item *ngFor="let user of userSummaries">
      <div mat-line fxLayout="row" fxLayoutAlign="space-between center">
        <span class="inner-content"><a (click)="getUserDetailDialog(user.no)">{{user.name}}</a></span>
        <span class="inner-content">{{user.phoneNum}}</span>
        <span class="inner-content">{{user.mail}}</span>
        <button class="more-btn" mat-icon-button [matMenuTriggerFor]="menu" (click)="selectUser(user.no)">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="removeUser()"><mat-icon>delete</mat-icon><span>사용자 삭제</span></button>
      </mat-menu>
    </mat-list-item>
  </mat-list>

</div>
<span class="hover-add-btn">
  <button mat-fab (click)="addUser()"><mat-icon>person_add</mat-icon></button>
</span>