<h2 class="pl-4 my-3">{{title}}</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="prodForm" novalidate>

  <h4 class="pl-5 mt-5">상품 정보</h4>
  <fieldset class="mx-5 mb-5 p-3 rounded">
    <div class="input-group pl-5 my-3">
      <span class="input-group-addon" id="product-name">상품명</span>
      <input type="text" formControlName="name" class="form-control col-4"/>
    </div>

    <div class="input-group pl-5 my-3">
      <span class="input-group-addon" id="product-listPrice">상품가격</span>
      <input type="number" formControlName="listPrice" class="form-control col-4"/>
    </div>

    <div class="input-group pl-5 my-3">
      <span class="input-group-addon" id="product-qty">상품수량</span>
      <input type="number" formControlName="qty" class="form-control col-4"/>
    </div>
    <div class="input-group pl-5 my-3">
    <textarea class="form-control col-6" formControlName="desc"
              rows="4" placeholder="상품 상세 설명"></textarea>
    </div>
  </fieldset>

  <h4 class="pl-5 mt-5">제출 및 초기화</h4>
  <fieldset class="mx-5 mb-5 p-3 rounded">
    <div class="row m-3 p-3">
      <button type="submit" class="btn btn-info mr-2"
              [disabled]="!prodForm.valid">등록
      </button>
      <button type="reset" class="btn btn-warning">초기화</button>
    </div>
  </fieldset>

</form>
