<h3 mat-dialog-title>{{isAddMode ? '사용자 등록' : '사용자 조회 / 수정'}}</h3>
<mat-dialog-content fxLayout="column" fxLayoutAlign="space-around center">
  <div>
    <mat-form-field>
      <input matInput placeholder="이름" [(ngModel)]="user.name">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="ID" [(ngModel)]="user.id">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="메일" [(ngModel)]="user.mail">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="핸드폰" [(ngModel)]="user.phoneNum">
    </mat-form-field>
  </div>
  <div>
    <mat-radio-group [(ngModel)]="user.sex">
      <mat-radio-button value="M">남성</mat-radio-button>
      <mat-radio-button value="F">여성</mat-radio-button>
    </mat-radio-group>
  </div>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center">
  <button mat-button (click)="modifyUser()">{{isAddMode ? '생성하기' : '수정하기'}}</button>
  <button mat-button (click)="closeDialog()">닫기</button>
</mat-dialog-actions>