@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-cyan);
$app-warn:    mat-palette($mat-red);

$app-theme: mat-light-theme($app-primary, $app-primary, $app-warn);

@include angular-material-theme($app-theme);

html, body {
    height: 100%;
    margin: 0;
    background: lightslategrey;
}